{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<title>{% block title %} Blog Clone {% endblock %}</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'style.css' %}" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<!-- Colors for this template -->
<link href="{% static 'css/colors.css' %}" rel="stylesheet">

<!-- Version Tech CSS for this template -->
<link href="{% static 'css/version/tech.css' %}" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'post:list' %}">Home</a>
                            </li>



                            {% for c in category %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'post:category' c.id%}">{{c.name}}</a>
                            </li>
                            {% endfor %}




                        </ul>
                        <div>
                            {% if request.user.is_authenticated %}
                            <ul class="navbar-nav me-5 ">
                                <li class="nav-item ">
                                    <a class="nav-link " href="{% url 'users:profile' %}" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{user.username}}
                                    </a>
                                    
                                </li>
                                <li><a class="nav-link " href="{% url 'users:logout' %}" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    logout
                                </a></li>
                            </ul>

                            <!--                <a  href="{% url 'users:profile' %}">{{CustomUser.CustomUsername}}</a>-->
                            <!--                <a class="btn btn-primary" href="{% url 'users:logout' %}" >Logout</a>-->
                            {% else %}
                            <a class="btn btn-primary" href="{% url 'users:login' %}">Login</a>
                            {% endif %}

                        </div>

                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->


        <!-- eng oxirgi ko'rilganlar -->
        <section class="section first-section">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">

                </div><!-- end masonry -->
            </div>
        </section>
        <!-- eng oxirgi ko'rilganlar tugadi-->

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">






                            {% block content %}
                            {% endblock %}
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                    
                </div><!-- end row -->
            </div><!-- end container -->
        </section>



        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="index.html"><img src="images/version/tech-footer-logo.png" alt=""
                                        class="img-fluid"></a>
                                <p>Bu sayt texnologiya blogi bo'lib, siz marketing, yangiliklar va maqolalarini
                                    qo'shishingiz mumkin.</p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Telegram"><i
                                            class="fa fa-telegram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i
                                            class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Githab"><i
                                            class="fa fa-github"></i></a>

                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                    <form class="form-inline">

                                        <a href="{% url 'post:message' %}"class="btn btn-primary">Admin bilan bog'lanish</a>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Bo'limlar</h2>
                            <div class="link-widget">
                                <ul>
                                    {% for c in category %}
                                    <li><a href="{% url 'post:category' c.id%}">{{c.name}}
                                            <span>({{c.count}})</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->


                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Yoqubov Suxrob
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Test uchun ishlamoqda</div>

    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>