{% extends "base_minimal.html" %}
{% load crispy_forms_tags %}
{% block title %}Create{% endblock %}
{% block content %}

<div class="custombox clearfix">
    <p class="p-3 mb-2 bg-info text-dark">Sizning postingiz admin tomonidan ma'qullanib saytga joylanadi</p>
    <h4 class="small-title ">Post yaratish</h4>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-wrapper" method="post" action="{% url 'post:create' %}">
                {% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-primary">Adminga yuborish <i class="fa fa-envelope-open-o"></i></button>
                <br>
            </form>
        </div>
    </div>
</div>
<br>

    {% endblock %}